@media(max-width:990px){
    .nav_navber{
        display: none;
    }
    .mlb_logo{
        display: block;
    }
}
@media(max-width:1325px){
    .container{
        max-width: 80%;
    }
}
@media(max-width:600px){
    .container{
        max-width: 95%;
    }
}