@media(max-width:990px){
    .nav_navber{
        display: none;
    }
    .mlb_logo{
        display: block;
    }
}
@media(max-width:1366px){
    .container{
        max-width: 1140px;
    }
}
@media(max-width:1200px){
    .container{
        max-width: 80%;
    }
}
@media(max-width:600px){
    .container{
        max-width: 95%;
    }
    .bnr_area{
        display: block;
    }
    .bnr_ion_text{
        margin-top: 10px;
    }
    .baner_text h1 {
        font-size: 45px;
        margin-top: 28px;
        margin-bottom: 40px;
    }
    .baner_text {
        margin: 0 17px;
    }
    .header_area{
        margin-top: 10px;
    }
    .like_icon{
        display: block;
        text-align: center;
    }
    .mb{
        margin-bottom: 50px;
    }
    .section_padding {
        padding: 35px 0;
    }
    .app_item {
        display: block;
    }
    .app_text {
        margin-left: 10px;
    }
    .smart_text {
        display: block;
        text-align: center;
    }
    .smart_text h3 {
        font-size: 40px;
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .effect{
        display: block;
        text-align: center;
    }
    .effect_box{
        margin-bottom: 50px;
    }
    .built_area {
        display: block;
    }
    .built_text {
        margin: 50px 10px;
    }
    .built_img img{
        width: 100%;
    }
    .app_img img{
        width: 100%;
    }
    .sec_her {
        font-size: 30px;
    }
    .service_card_area-1{
        display: block;
    }
    
}