@media(max-width:990px){
    .nav_navber{
        display: none;
    }
    .mlb_logo{
        display: block;
    }
}
@media(max-width:1366px){
    .container{
        max-width: 1140px;
    }
    .price_day {
        width: 25%;
    }
}
@media(max-width:1200px){
    .container{
        max-width: 80%;
    }
}
@media(max-width:600px){
    .container{
        max-width: 95%;
    }
    .bnr_area{
        display: block;
    }
    .bnr_ion_text{
        margin-top: 10px;
    }
    .baner_text h1 {
        font-size: 45px;
        margin-top: 28px;
        margin-bottom: 40px;
    }
    .baner_text {
        margin: 0 17px;
    }
    .baner_pic img {
        width: 100%;
    }
    .header_area{
        margin-top: 10px;
    }
    .like_icon{
        display: block;
        text-align: center;
    }
    .mb{
        margin-bottom: 50px;
    }
    .section_padding {
        padding: 35px 0;
    }
    .app_item {
        display: block;
    }
    .app_text {
        margin-left: 10px;
    }
    .smart_text {
        display: block;
        text-align: center;
    }
    .smart_text h3 {
        font-size: 40px;
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .effect{
        display: block;
        text-align: center;
    }
    .effect_box{
        margin-bottom: 50px;
    }
    .built_area {
        display: block;
    }
    .built_text {
        margin: 50px 10px;
    }
    .built_img img{
        width: 100%;
    }
    .app_img img{
        width: 100%;
    }
    .sec_her {
        font-size: 30px;
    }
    .service_card_area-1{
        display: block;
    }
    .features_area{
        display: block;
    }
    .features_text {
        text-align: center;
    }
    .fra_card {
        text-align: center;
    }
    .features_text button {
        margin: 60px 0;
    }
    .price_day {
        width: 70%;
    }
    .price_sub{
        display: block;
    }
    .sub.pic24 {
        margin-bottom: 90px;
    }
    .client_area{
        display: block;
    }
    .client_img {
        width: 100%;
        margin-bottom: 60px;
    }
    .client_img img {
        width: 100%;
    }
    .info_ceo {
        margin-left: 32px;
        margin-right: 25px;
    }
    .one_table {
        padding: 1px 20px;
        padding-bottom: 50px;
    }
    .tow_table {
        padding: 1px 20px;
    }
    .dowlod{
        display: block;
    }
    .doun_img {
        width: 100%;
        margin-top: 50px;
    }
    .footer_nav ul {
        display: block;
        text-align: center;
    }
    .footer_nav ul li a{
        display: inline-block;
    }
}
@media (max-width:375px){
    .price_day {
        width: 80%;
    }
}