*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif; list-style: none; text-decoration: none;}
.container{
    max-width: 1320px;
    margin: auto;
}
.container_lg{
    max-width: 1500px;
    margin:auto;
}
.section_padding{
    padding: 100px 0;
}
.sec_her{
    color: #242f51;
    font-size: 36px;
    font-weight: 700;
}
.sec_pra{
    font-size: 16px;
    color: #616368;
    line-height: 1.5;
}
.card_hr{
    font-size: 20px;
    font-weight: 700;
}
.btn{
    background-color: #2500f9;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 24px;
    border: none;
}



/* Start Header area */
.header_area{
    margin-top: 80px;
    position: sticky;
    top: 0;
    background-color: #fff;
}
.navbar_area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.nav_navber ul{
    display: flex;
    align-items: center;
}
.nav_navber ul li{
    list-style: none;
}
.nav_navber ul li a{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #242f51;
}
.nav_navber ul li a:hover{
    color: #FCAE61;
}
/* Slidbar */
.mlb_logo{
    color: #FCAE61;
    font-size: 30px;
    display: none;
    border: 2px solid #242f51;
    border-radius: 6px;
    padding: 2px 8px;
}
.nav_sidebar{
    display: none;
    width: 100%;
    background-color:#9babab;
    height: 1000px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 50px 20px;
}
.nav_sidebar ul{
    display: flex;
    flex-direction: column;
}
.nav_sidebar ul li a{
    color: #fff;
    padding: 20px 20px;
    display: inline-block;
}
.nav_sidebar i{
    color: black;
    font-size: 20px;
}
/* End Header area */

/* Start Baner Area */
.baner_area{
    background: url(../images/Banar_BG.png) no-repeat bottom;
}
.bnr_area{
    display: flex;
    justify-content: space-around;
    background-image: url(../images/bnr_bg_o.png);
}
.bnr_ion_text{
    display: flex;
    justify-content: start;
    align-items: center;
    background: #e2eaed;
    border-radius: 16px;
    width: 358px;
    margin-top: 260px;
}
.bnr_ion_text p{
    margin-left: 10px;
    color: #242f51;
    font-size: 18px;
}
.baner_text h1{
    color: #242f51;
    font-size: 60px;
    font-weight: 700;
    margin-top: 28px;
    margin-bottom: 40px;
}
.baner_text p{
    color: #616368;
    font-size: 18px;
}
.bnr_btn_area{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.bnr_btn_area p{
    color: #2500f9;
    font-size: 16px;
    margin-left:20px ;
}
.bnr_btn_area button{
    padding: 20px 30px;
}
.baner_pic {
    margin-top: 30px;
    margin-bottom: 60px;
}
/* End Baner Area */

/* Start like area */
.like_text{
    text-align: center;
}
.like_text p{
    margin-bottom: 30px;
    color: #242f51;
}
.like_icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* End like area */

/* Start app area */
.app_item{
    display: flex;
}
.app_text h3{
    margin-top: 30px;
    margin-bottom: 25px;
}
.app_text {
    margin-left: 120px;
}
.card_area {
    margin-top: 90px;
}
.app_card_1{
    display: flex;
    margin-bottom: 60px;
}
.app_card_text {
    margin-left: 30px;
}
.app_card_text h4{
    color: #f55767;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
span.cr2 {
    color: #2563ff;
}
span {
    color: #40975f;
}

/* End app area */

/* start smart area */
.smart_text{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.smart_text h3{
    font-size: 40px;
    margin-left: 90px;
}
.smart_text h3:after{
    content: '';
    background: #242f51;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 530px;
}
/* end smart area */

/* start effect area */
.effect{
    display: flex;
    justify-content: space-around;
}
.effect_box h4{
    font-size: 20px;
    font-weight: 700;
    color: #f55767;
    margin-top: 35px;
    margin-bottom: 20px;
}
/* end effect area */
 
/* start built area */
.built_area{
    display: flex;
    align-items: center;
}
.built_text{
    margin-left: 140px;
}
.built_text p{
    margin-top: 30px;
    margin-bottom: 40px;
}
/* End built area */

/* Start service area */
.service_text{
    text-align: center;
    margin-bottom: 100px;
}
.service_text p{
    margin-top: 20px;
}
.service_card_area-1{
    display: flex;
    justify-content: space-around;
}
.service_text h4 {
    margin-bottom: 30px;
}
.service_card{
    text-align: center;
    margin-bottom: 60px;
}
h4.card_hr {
    margin-top: 30px;
    margin-bottom: 20px;
}
/* End service area */

/* Start features area */
.features_area{
    display: flex;
    justify-content: space-between;
}
.features_text h4{
    margin-bottom: 30px;
}
/* End features area */