*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif; list-style: none; text-decoration: none;}
.container{
    max-width: 1320px;
    margin: auto;
}
.btn{
    background-color: #2500f9;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 24px;
}



/* Start Header area */
.header_area{
    margin-top: 80px;
}
.navbar_area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.nav_navber ul{
    display: flex;
    align-items: center;
}
.nav_navber ul li{
    list-style: none;
}
.nav_navber ul li a{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #242f51;
}
/* Slidbar */
.mlb_logo{
    color: #FCAE61;
    font-size: 30px;
    display: none;
}
.nav_sidebar{
    display: none;
    width: 100%;
    background-color:#9babab;
    height: 1000px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 50px 20px;
}
.nav_sidebar ul{
    display: flex;
    flex-direction: column;
}
.nav_sidebar ul li{}
.nav_sidebar ul li a{
    color: #fff;
    padding: 20px 20px;
    display: inline-block;
}
.baner_area{} 
/* End Header area */