.section_padding{
    padding: 50px 0;
}
.btn{
    border: navajowhite;
    background-color: #2500f9;
    color: #fff;
    padding: 13px 40px;
    border-radius: 22px;
    font-size: 16px;
    font-weight: 400; 
}
/* Start Header Section */
.header_area{}
.hd_1{}
.logo{}
.logo img{}
.manu{}
.navber{/*! display: flex; *//*! justify-content: center; *//*! text-align: center; */}
.navber ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
}
.navber ul li a{
    text-decoration: none;
}
.header_btn {
    display: flex;
    justify-content: end;
}
.header_btn button {
}
/* End Header Section */